.vdots {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px dotted blue;
}

.vdots #video-list {
  height: 400px;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  outline: 1px solid red;
}

.vdots #receiver-video {
  display: none
}

.vdots video {
  /*position: absolute;*/
  outline: 2px solid green;
  /*height: fit-content;*/
  
}