.vdots {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 1px dotted blue;
}

.vdots .vdots-btns {
  z-index: 40;
}

.vdots #video-list {
  height: 400px;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* outline: 1px solid red; */
}


.vdots video {
  /*position: absolute;*/
  /* outline: 2px solid green; */
  /*height: fit-content;*/
  
}

@media (max-width: 650px) {
  .vdots #video-list {
    flex-direction: column;
  }
}