.ai-scan {
}

.ai-scan .ai-scan-box {
  position: relative;
  margin-top: 1.5rem;
  width: 300px;
  height: 240px;
}

.ai-scan #video-element {
  position: absolute;
}

.ai-scan .ai-scan-bounding {
  position: absolute;
  width: 300px;
  height: 240px;
  border: 1px solid red;
}