.ai-scan {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.ai-scan .ai-scan-box {
  position: relative;
  margin-top: 1rem;
  width: 300px;
  height: 240px;
  /* outline: 3px solid red; */
  box-sizing: border-box;
}

.ai-scan #video-element {
  position: absolute;
}

.ai-scan .ai-scan-bounding {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 265px;
  height: 205px;
  border: 2px solid green;
  z-index: 1;
}

.ai-scan .controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ai-scan .scan-warning-text {
  text-align: center;
  width: 80%;
  margin: 1rem 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.ai-scan .take-scan {
  border: 3px solid black;
  border-radius: 100%;
  padding: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ai-scan .scan-upload {
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  align-items: center;
  gap: 0.7rem;
  font-size: 1.2rem;
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  background-color: black;
  cursor: pointer;
}


.ai-scan input {
  display: none;
}

@media (max-width: 650px) {
  .ai-scan .ai-scan-bounding {
    width: 270px;
    height: 365px;
  }
  .ai-scan .ai-scan-box {
    width: 300px;
    height: 400px;
  }
}

.spinner {
  width: 72px;
  height: 72px;
  display: grid;
  border: 5.8px solid #0000;
  border-radius: 50%;
  border-color: #b5b6bf #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.9px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #000000 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 11.6px;
}

@keyframes spinner-e04l1k {
  100% {
      transform: rotate(1turn);
  }
}