.patient-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.patient-page .patient-page-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 1rem;
}

.patient-page .patient-page-title {
  font-weight: 800;
  font-size: 1.5rem;
}

.patient-page .patient-page-title h2 {
  margin: 0;
}

.patient-page .patient-page-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 870px) {
  .patient-page {
    flex-direction: column;
  }
}
