.patient-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex:0.8;
}

.patient-page .patient-page-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: flex-end;
  align-items: space-between;
  width: 80%;
  /* gap: 19px; */
  gap: 0.5rem;
  padding: 0;
}

.patient-page .patient-page-title {
  width: 100%;
  font-weight: 800;
  font-size: 1.5rem;
  text-align: left;
  padding: 0px 0 0px 0px;
  /* margin-bottom: 10px; */
}

.patient-page .greeting{
  font-size: 1.3rem;
  padding: 0;
  margin: 5px 0 5px 0;
}

.patient-page .med-info-container{
  position: relative;
  width: 85vw;
  max-width: 310px;
  border: 2px solid black;
  padding: 10px;
  padding-top: 0;
  border-radius: 1.3rem;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  /* background-color: rgb(123, 235, 222); */
}

.med-info-container::-webkit-scrollbar {
  display: none;
}

.patient-page .med-info{
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #e8e9eb;
  border-bottom: 2px solid black;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  padding-top: 15px;
  padding-bottom: 15px;
}

.patient-page .patient-page-title h2 {
  margin: 0;
}

.patient-page .patient-page-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.patient-page .patient-page-near-clinics {
  position: relative;
  width: 80%;
  height: 200px;
  border: 2px solid black;
  border-radius: 1rem;
  /* overflow: hidden; */
  /* background-image: url('./images/find_clinic_map.png'); */
}

.patient-page .nearby-image {
  object-fit: contain;
  overflow: hidden;
  width: 100%;
  height: 200px;
  border-radius: 1rem;
}

.patient-page .nearby-image img {
  width: 100%;
  height: 100%;
}
.patient-page .patient-page-near-clinics button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.patient-page .grids-container{
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex: 1;
  width: 100%;
}

.patient-page .left-grid{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex:1;
  gap: 15px !important;
}

.patient-page .right-grid{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  gap: 15px;
}

@media (max-width: 870px) {
  .patient-page {
    flex-direction: column;
  }
  .patient-page .grids-container{
    flex-direction: column;
    gap: 1rem;
  }

  .patient-page .patient-page-near-clinics {
    width: 98%
  }
  
  .patient-page .patient-page-title {
    margin-bottom: 10px;
  }
  .patient-page .patient-page-title {
    text-align: center;
  }

}
