.patient-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.patient-page .patient-page-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 1rem;
  padding: 0;
}

.patient-page .patient-page-title {
  width: 100%;
  font-weight: 800;
  font-size: 1.5rem;
  text-align: left;
}

.patient-page .patient-page-title h2 {
  margin: 0;
}

.patient-page .patient-page-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.patient-page .patient-page-near-clinics {
  position: relative;
  width: 270px;
  height: 200px;
  border: 2px solid black;
  border-radius: 1rem;
  /* overflow: hidden; */
  /* background-image: url('./images/find_clinic_map.png'); */
}

.patient-page .nearby-image {
  object-fit: contain;
  overflow: hidden;
  width: 270px;
  height: 200px;
  border-radius: 1rem;
}

.patient-page .nearby-image img {
  width: 100%;
  height: 100%;
}
.patient-page .patient-page-near-clinics button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 870px) {
  .patient-page {
    flex-direction: column;
  }
}
