.patient-profile {
  display: flex;  
  flex-direction: column;
  max-width: 98%;
}


.patient-profile .patient-profile-cards {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin-bottom: 1rem;
}


.patient-profile .patient-profile-med-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.med-info-gap {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}