.call{
  --min-width: 300px;
  min-width: var(--min-width);
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 1rem;
}

.call .nav-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: fit-content;
    gap: 10px;
    margin: 0 0 20px 0;
    flex: 1
}

.call .btn-contact{
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 8px;
  display: flex;
  flex: 1;
  height: fit-content;
  justify-content: center;   
  cursor: pointer;
}

.call .btn-contact.selected{
  background-color: rgb(217, 201, 201);
}

.call .call-body {
  overflow-y: auto;
}

