.call-page{
    display: flex;
    gap: 1rem;
    flex: 1
}

.call-page-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    flex: 1;
}

@media (max-width: 870px) {
    .call-page {
        flex-direction: column;
    }
}