.call-page{
    display: flex;
    gap: 1rem
}

.call-page .call-page-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 870px) {
    .call-page {
        flex-direction: column;
    }
}