.register-wrapper {
}

.register-inputs {
  overflow: hidden;
}

.register-buttons {
  padding-top: 0.6rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

@media (max-width: 650px) {
  .register-buttons {
    flex-direction: column;
    align-items: center;
  }
}
