.button-wrapper {
  --button-color: blue;
  --text-color: white;
  --font-size: 1rem;
  width: fit-content;
}

.button-wrapper .button {
  border: none;
  font-size: var(--font-size);
  color: var(--text-color);
  background-color: var(--button-color); 
  cursor: pointer;
  padding: 0.7rem 1.3rem;
  border-radius: 1.3rem;
  box-shadow: 0px 0px 1px gray;
}

.button-wrapper .button:hover {
  box-shadow: 0rem 0rem 2px inset;
}

.button-wrapper .button:disabled {
  cursor: default;
  box-shadow: none;
  opacity: 0.5;
}
